

<div class="photo-card" >
  <a href="{{largeImageURL}}" class="link__card"><img src="{{webformatURL}}" alt="{{tag}}" loading="lazy" width="320" height="212"/></a>
  <div class="info">
    <p class="info-item">
      <b>Likes: {{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views: {{views}}</b>
    </p>
    <p class="info-item">
      <b>Comments: {{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads: {{downloads}}</b>
    </p>
  </div>
</div>

